div.cspsh {
    display: inline-block;
}

/*CSPSH class the whole code block*/
.CSPSH {
    background-color: rgb(38, 38, 38);
    color: rgb(95, 95, 95);
    overflow: hidden;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 6px;
    padding: 1%;
    float: left;
    height: 50vh;
    width: 80vw;
    margin: 1%;
    line-height: 2.5vh;
    text-justify: left;
    text-align: left;
    transition: 0.4s ease-in-out;
    z-index: 6;
}

/*Styling the topBar*/
.copyHolder-CSPSH {
    background-color: rgba(39, 39, 39, 0.61);
    color: rgb(202, 202, 202);
    backdrop-filter: blur(18px);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 6vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: inherit;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.lineCount-CSPSH-done {
    overflow: hidden;
    height: 44vh;
    width: max-content;
    position: absolute;
    line-height: 2.5vh;
    color: rgb(131, 130, 130);
    border-right: 4px solid rgb(89, 89, 89);
    padding-right: 5px;
}

.sh-CSPSH-lineHighlight {
    border-top: 1px solid rgb(216, 216, 111);
    border-bottom: 1px solid rgb(216, 216, 111);
    background-color: rgba(255, 255, 118, 0.188);
}

#code {
    height: 44vh;
    white-space: nowrap;
    width: 77vw;
    overflow: hidden;
    margin-left: 3vw;
}

#code span {
    transition: 0.4s ease-in-out;
}

#code:hover {
    overflow: scroll;
}

.copyVector {
    z-index: 5;
    height: auto;
    width: auto;
    padding: 4px;
    background-color: rgb(59, 59, 59, 0.3);
    border: none;
    border-radius: 6px;
    position: absolute;
}

#blackLine, #greyLine {
    transition: 0.4s;
}

.CSPSHsvg:hover>#blackLine {
    cursor: pointer;
    fill: rgb(49, 49, 49);
    stroke: rgb(49, 49, 49);
    transition: 0.4s;
}

.CSPSHsvg:hover>#greyLine {
    cursor: pointer;
    fill: rgb(167, 167, 167);
    stroke: rgb(167, 167, 167);
    transition: 0.4s;
}

#code::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 0px 6px 6px 0px;
    width: 0.08rem;
    height: 0.5rem;
}

#code::-webkit-scrollbar-thumb {
    background-color: rgb(146, 143, 143);
    width: 0.1rem;
    border-radius: 6px 6px 6px 6px;
}

#code::-webkit-scrollbar-button {
    display: none;
}

.cspsh-indentationGuidelines {
    border-left: 1px solid grey;
}

.changeTheme {
    margin: 5vw;
    color: #dddddd;
}

.themeChangers {
    background-color: rgb(39, 39, 39);
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    color: rgb(253, 187, 81);
    transition: 0.2s ease-in-out;
}

.themeChangers:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 55);
}

.cspshBuildTabs .CSPSH {
    position: absolute;
    margin-top: 2rem;
}

.cspshBuildTabs {
    height: 60vh;
    position: relative;
    display: block;
}

.tabChangersWrapper {
    width: 80vw;
    margin-left: 1rem;
    position: absolute;
    display: flex;
    overflow-x: scroll;
}

.cspshChangeTab {
    padding: 0.5rem;
    background-color: rgba(114, 114, 114, 0.61);
    color: rgb(184, 184, 184);
    border: none;
    border-radius: 6px;
    backdrop-filter: blur(24px);
    margin: 0.2rem;
    font-size: 14px;
    font-family: monospace;
}

.cspshChangeTab:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

.inactiveTab {
    color: rgb(184, 184, 184);
    background-color: rgb(114, 114, 114, 0.61);
    border: none;
}

.activeTab {
    background-color: rgba(70, 70, 70, 0.61);
    border: 1px solid orange;
}

#CSPSH-errorMessage {
    height: 50vh;
    width: 80vh;
    position: relative;
    margin-top: -76vh;
    background-color: rgba(39, 39, 39, 0.61);
    backdrop-filter: blur(8px);
    z-index: 20;
    color: rgb(255, 146, 146);
    line-height: 3.5vh;
}

.cspsh a {
    color: rgb(118, 164, 221);
    text-decoration: none;
}

.cspsh a:hover {
    text-decoration: underline;
}

/*End of the top bar css*/
/* css for types */
.sh-CSPSH-types {
    color: rgb(0, 140, 255);
}

/* css for keywords */
.sh-CSPSH-keyword {
    color: rgb(235, 132, 255);
}

/* css for variables */
.sh-CSPSH-variable {
    color: rgb(255, 193, 77);
}

/* css for class */
.sh-CSPSH-class {
    color: rgb(42, 185, 42);
}

/* css for operators */
.sh-CSPSH-operator {
    color: rgb(167, 167, 167);
}

/* css for strings and characters */
.sh-CSPSH-string {
    color: rgb(247, 132, 94);
}

/* css for numerals */
.sh-CSPSH-numerals {
    color: rgb(136, 255, 0);
}

/* css for functions */
.sh-CSPSH-Func {
    color: #FBF46D;
}

/* css for comments */
.sh-CSPSH-comments {
    color: grey;
    font-style: italic;
}

/* css for inbuilt fucntions */
.sh-CSPSH-inBuilt {
    color: rgb(46, 199, 46);
    font-style: italic;
}

.sh-CSPSH-preprocess {
    color: rgb(184, 184, 184);
    background-color: rgb(83, 83, 83);
    padding: 2px;
}

.sh-CSPSH-classSelector {
    color: greenyellow;
}

@media screen and (max-width: 320px){
    #code{
        font-size: 100px;
    }
}