div.cspsh {
    display: inline-block;
}

/*CSPSH class the whole code block*/
.CSPSH {
    background-color: #2a252e;
    color: #60556a;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 6px;
    padding: 1%;
    float: left;
    height: 50vh;
    width: 80vw;
    margin: 1%;
    line-height: 2.5vh;
    text-justify: left;
    text-align: left;
    z-index: 6;
}

/*Styling the topBar*/
.copyHolder-CSPSH {
    background-color: rgba(42, 37, 46, 0.577);
    color: rgb(202, 202, 202);
    backdrop-filter: blur(18px);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 6vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: inherit;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.lineCount-CSPSH-done {
    overflow: hidden;
    height: 44vh;
    line-height: 2.5vh;
    padding-right: .5rem;
    color: rgb(152, 136, 167);
    border-right: 4px solid rgb(166, 148, 183);
}

.sh-CSPSH-lineHighlight {
    border-top: 1px solid rgb(152, 136, 167);
    border-bottom: 1px solid rgb(152, 136, 167);
    background-color: rgba(77, 69, 85, 0.414);
}

#code {
    height: 44vh;
    white-space: nowrap;
    width: 77vw;
    overflow: hidden;
    margin-left: 1rem;
}

#code cspsh {
    transition: 0.4s ease-in-out;
}

#code:hover {
    overflow: scroll;
}

.cspsh_simple_mode, .cspsh_simple_mode #code{
    width: auto;
    height: auto;
    margin-left: 0;
    overflow-x: hidden;
}

.copyVector {
    z-index: 5;
    height: auto;
    width: auto;
    padding: 4px;
    background-color: rgb(59, 59, 59, 0.3);
    border: none;
    border-radius: 6px;
    position: absolute;
}

.simple_mode_copyVectorHolder{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.simple_mode_copyVector{
    opacity: .3;
}

.simple_mode_copyVector:hover{
    opacity: 1;
}

#blackLine, #greyLine {
    transition: 0.4s;
}

.CSPSHsvg:hover>#blackLine {
    cursor: pointer;
    fill: rgb(49, 49, 49);
    stroke: rgb(49, 49, 49);
    transition: 0.4s;
}

.CSPSHsvg:hover>#greyLine {
    cursor: pointer;
    fill: rgb(167, 167, 167);
    stroke: rgb(167, 167, 167);
    transition: 0.4s;
}

#code::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 0px 6px 6px 0px;
    width: 0.08rem;
    height: 0.5rem;
}

#code::-webkit-scrollbar-thumb {
    background-color: rgb(146, 143, 143);
    width: 0.1rem;
    border-radius: 6px 6px 6px 6px;
}

#code::-webkit-scrollbar-button {
    display: none;
}

.cspsh-indentationGuidelines {
    border-left: 1px solid grey;
}

.changeTheme {
    margin: 1rem;
    color: #dddddd;
}

.themeChangers {
    background-color: rgb(39, 39, 39);
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    color: rgb(253, 187, 81);
    transition: 0.2s ease-in-out;
}

.themeChangers:hover {
    cursor: pointer;
    background-color: rgb(55, 55, 55);
}

.cspshBuildTabs .CSPSH {
    position: absolute;
    margin-top: 2rem;
}

.cspshBuildTabs {
    height: 60vh;
    position: relative;
    display: block;
}

.tabChangersWrapper {
    width: 80vw;
    margin-left: 1rem;
    position: absolute;
    display: flex;
    overflow-x: scroll;
}

#viewer_wrapper{
    display: flex;
}

.cspshChangeTab {
    padding: 0.5rem;
    background-color: rgba(114, 114, 114, 0.61);
    color: rgb(184, 184, 184);
    border: none;
    border-radius: 6px;
    backdrop-filter: blur(24px);
    margin: 0.2rem;
    font-size: 14px;
    font-family: monospace;
}

.cspshChangeTab:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

.inactiveTab {
    color: rgb(184, 184, 184);
    background-color: rgb(114, 114, 114, 0.61);
    border: none;
}

.activeTab {
    background-color: rgba(70, 70, 70, 0.61);
    border: 1px solid orange;
}

#CSPSH-errorMessage {
    height: 50vh;
    width: 80vh;
    position: relative;
    overflow-y: auto;
    background-color: rgba(39, 39, 39, 0.61);
    backdrop-filter: blur(8px);
    z-index: 20;
    color: rgb(255, 146, 146);
    line-height: 3.5vh;
}

.cspsh a {
    color: rgb(118, 164, 221);
    text-decoration: none;
}

.cspsh a:hover {
    text-decoration: underline;
}

/*End of the top bar css*/
/* css for types */
.sh-CSPSH-type {
    color: #ff5353;
}

/* css for keywords */
.sh-CSPSH-keyword {
    color: #ffa76d;
}

/* css for variables */
.sh-CSPSH-variable {
    color: #6277ff;
}

/* css for class */
.sh-CSPSH-class {
    color: #fa5cff;
}

/* css for operators */
.sh-CSPSH-operator {
    color: #EDEDED;
}

/* css for strings and characters */
.sh-CSPSH-string {
    color: #baff67;
}

/* css for numerals */
.sh-CSPSH-numeral, .sh-CSPSH-cssColor{
    color: #5efffc;
}

/* css for functions */
.sh-CSPSH-Func {
    color: #ffca61;
}

/* css for comments */
.sh-CSPSH-comment {
    color: #646464;
    font-style: italic;
}

/* css for inbuilt fucntions */
.sh-CSPSH-inBuilt {
    color: #ff60a5;
    font-style: italic;
}

.sh-CSPSH-preprocess {
    color: #F6F6F6;
    background-color: rgb(66, 59, 72);
    padding: 2px;
}

.sh-CSPSH-classSelector, .sh-CSPSH-idSelector {
    color: greenyellow;
}

.sh-CSPSH-property {
    color: rgb(206, 123, 255);
}

@media screen and (max-width: 900px) {
    .changeTheme, #themeUsing{
        display: none;
    }
}

@media screen and (max-width: 990px) {
    #themeUsing{
        display: none;
    }
}