.DRAKULA {
    background-color: #282a36;
    color: #f8f8f2;
}

/*Styling the topBar*/
.copyHolder-DRAKULA {
    color: rgb(202, 202, 202);
    background-color: rgba(40, 42, 54, 0.66);
    backdrop-filter: blur(18px);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 6vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: inherit;
    align-items: right;
    text-align: center;
    text-justify: center;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.lineCount-DRAKULA-done {
    overflow-y: hidden;
    height: 44vh;
    width: auto;
    position: absolute;
    line-height: 2.5vh;
    color: #8890bd;
    padding-right: 5px;
    border-right: 4px solid #8890bd;
}

.sh-DRAKULA-lineHighlight {
    border-top: 1px solid #7e86bd;
    border-bottom: 1px solid #7e86bd;
    background-color: #7e86bd5b;
}

/*End of the top bar css*/
/* css for types */
.sh-DRAKULA-types {
    color: #ff79c6;
}

/* css for keywords */
.sh-DRAKULA-keyword {
    color: #bd93f9;
}

/* css for variables */
.sh-DRAKULA-variable {
    color: #ffb86c;
    font-style: italic;
}

/* css for class */
.sh-DRAKULA-class {
    color: #8be9fd;
}

/* css for operators */
.sh-DRAKULA-operator {
    color: rgb(167, 167, 167);
}

/* css for strings and characters */
.sh-DRAKULA-string {
    color: #f1fa8c;
}

/* css for numerals */
.sh-DRAKULA-numerals {
    color: #bd93f9;
}

/* css for functions */
.sh-DRAKULA-Func {
    color: #50fa7b;
}

/* css for comments */
.sh-DRAKULA-comments {
    color: #6272a4;
}

/* css for inbuilt fucntions */
.sh-DRAKULA-inBuilt {
    color: #ff5555;
    font-style: italic;
}

.sh-DRAKULA-preprocess {
    color: #ff79c6;
    padding: 2px;
}

.sh-DRAKULA-classSelector, .sh-DRAKULA-idSelector {
    color: greenyellow;
}

.sh-DRAKULA-property {
    color: cyan;
}

.sh-DRAKULA-value {
    color: rgb(163, 100, 208);
}