.MONOKAI {
    background-color: #272822;
    color: #F8F8F2;
}

/*Styling the topBar*/
.copyHolder-MONOKAI {
    background-color: rgba(39, 40, 34, 0.66);
    color: rgb(202, 202, 202);
    backdrop-filter: blur(18px);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 6vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: inherit;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.lineCount-MONOKAI-done {
    overflow: hidden;
    height: 44vh;
    line-height: 2.5vh;
    color: #8f937e;
    padding-right: .5rem;
    border-right: 4px solid #8f937e;
}

.sh-MONOKAI-lineHighlight {
    border-top: 1px solid #a89f65;
    border-bottom: 1px solid #a89f65;
    background-color: #a89f656d;
}

/*End of the top bar css*/
/* css for types */
.sh-MONOKAI-type {
    color: #66D9EF;
}

/* css for keywords */
.sh-MONOKAI-keyword {
    color: #F92672;
}

/* css for variables */
.sh-MONOKAI-variable {
    color: #FD971F;
    font-style: italic;
}

/* css for class */
.sh-MONOKAI-class {
    color: #A6E22E;
}

/* css for operators */
.sh-MONOKAI-operator {
    color: rgb(167, 167, 167);
}

/* css for strings and characters */
.sh-MONOKAI-string {
    color: #E6DB74;
}

/* css for numerals */
.sh-MONOKAI-numeral, .sh-MONOKAI-cssColor {
    color: #AE81FF;
}

/* css for functions */
.sh-MONOKAI-Func {
    color: #FBF46D;
}

/* css for comments */
.sh-MONOKAI-comment {
    color: #75715E;
    font-style: italic;
}

/* css for inbuilt fucntions */
.sh-MONOKAI-inBuilt {
    color: #66edef;
    font-style: italic;
}

.sh-MONOKAI-preprocess {
    color: #F92672;
    padding: 2px;
}

.sh-MONOKAI-classSelector,
.sh-MONOKAI-idSelector {
    color: greenyellow;
}

.sh-MONOKAI-property {
    color: #66D9EF;
}

.sh-MONOKAI-value {
    color: #AE81FF;
}

.cspsh[lang="html"] .sh-MONOKAI-variable{
    color: #d6d6d6;
    font-style: normal;
}