body {
    background-color: white;
}

#SyHy {
    background-color: rgba(211, 211, 211, 0.8);
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    border-radius: 6px;
    padding: 1%;
    float: left;
    height: 50px;
    width: 70%;
    margin: 1%;
    text-justify: left;
    text-align: left;
}

.sh-keyword {
    color: rgb(0, 140, 255);
}

.sh-token {
    color: rgb(212, 0, 255);
}

.sh-variable {
    color: orange;
}

.sh-class {
    color: rgb(0, 139, 0);
}

.sh-operator {
    color: rgb(167, 167, 167);
}

.sh-string {
    color: red;
}

.sh-numerals {
    color: rgb(136, 255, 0);
}