/*Setting everything to 0*/
* {
    margin: 0px;
    padding: 0px;
}

/*CSPSH class the whole code block*/
.CSPSH {
    background-color: rgb(59, 59, 59);
    overflow: hidden;
    color: rgb(95, 95, 95);
    font-size: 24px;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 6px;
    padding: 1%;
    float: left;
    height: 90%;
    width: 90%;
    margin: 1%;
    text-justify: left;
    text-align: left;
}

/*Styling the topBar*/
#copyHolder {
    color: rgb(202, 202, 202);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 50px;
    border-radius: 6px;
    width: inherit;
    align-items: right;
    background-color: rgba(59, 59, 59, 0.692);
    backdrop-filter: blur(12px);
    text-align: center;
    text-justify: center;
    position: absolute;
}

.copyVector {
    z-index: 5;
    height: 50px;
    width: 50px;
    background-color: rgb(59, 59, 59, 0.3);
    border: none;
    display: grid;
    float: right;
    border-radius: 6px;
}

.copyVector:hover, .copyVector:hover>#copy-cube2 {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
}

#copy-cube, #copy-cube2 {
    height: 30px;
    width: 30px;
    padding: 3%;
    margin: 3%;
    border-radius: 6px;
    border: 1px solid rgb(107, 107, 107);
}

#copy-cube {
    margin-top: 10%;
}

.hr-copy-cube {
    margin-top: 30%;
    border: 0.3px solid grey;
    width: 50%;
}

#copy-cube2 {
    margin-left: 15%;
    margin-top: -90%;
    background-color: rgb(59, 59, 59);
}

::-webkit-scrollbar {
    background-color: rgba(59, 59, 59, 0.8);
    border-radius: 0px 6px 6px 0px;
    width: 8px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    width: 1px;
    border-radius: 6px 6px 6px 6px;
}

::-webkit-scrollbar-button {
    width: 3px;
    color: white;
}

.CSPSH:hover {
    overflow-y: scroll;
}

.CSPSH:hover>.copyVector {
    visibility: visible;
}

#copiedPop {
    background-color: grey;
    border-radius: 6px;
    padding: 1%;
    color: rgb(174, 255, 52);
}

.cspsh-indentationGuidelines {
    border-left: 1px solid grey;
}

/*End of the top bar css*/
/*Start of the JS syntax css*/
.sh-js-types {
    color: rgb(0, 140, 255);
}

.sh-js-keyword {
    color: rgb(235, 132, 255);
}

.sh-js-variable {
    color: rgb(255, 193, 77);
}

.sh-js-class {
    color: rgb(42, 185, 42);
}

.sh-js-operator {
    color: rgb(167, 167, 167);
}

.sh-js-string {
    color: rgb(241, 97, 72);
}

.sh-js-numerals {
    color: rgb(136, 255, 0);
}

.sh-js-Func {
    color: #FBF46D;
}

.sh-js-comments {
    color: grey;
    font-style: italic;
}

.sh-js-inBuilt {
    color: rgb(55, 135, 255);
}

/*End of JS syntax css*/
/*Start of cpp syntax css*/
.sh-cpp-types {
    color: rgb(0, 140, 255);
}

.sh-cpp-keyword {
    color: rgb(235, 132, 255);
}

.sh-cpp-variable {
    color: rgb(255, 193, 77);
}

.sh-cpp-class {
    color: rgb(42, 185, 42);
}

.sh-cpp-operator {
    color: rgb(167, 167, 167);
}

.sh-cpp-string {
    color: rgb(241, 97, 72);
}

.sh-cpp-numerals {
    color: rgb(136, 255, 0);
}

.sh-cpp-Func {
    color: #FBF46D;
}

.sh-cpp-comments {
    color: grey;
    font-style: italic;
}

.sh-cpp-preprocess {
    color: rgb(170, 170, 170);
    background-color: rgb(85, 85, 85);
}

/*End of cpp syntax css*/
/*Start of python syntax css*/
.sh-py-types {
    color: rgb(0, 140, 255);
}

.sh-py-keyword {
    color: rgb(235, 132, 255);
}

.sh-py-variable {
    color: rgb(255, 193, 77);
}

.sh-py-class {
    color: rgb(42, 185, 42);
}

.sh-py-operator {
    color: rgb(167, 167, 167);
}

.sh-py-string {
    color: rgb(241, 97, 72);
}

.sh-py-numerals {
    color: rgb(136, 255, 0);
}

.sh-py-Func {
    color: #FBF46D;
}

.sh-py-comments {
    color: grey;
    font-style: italic;
}

/*End of python syntax css*/
/*start of c syntax css*/
.sh-c-types {
    color: rgb(0, 140, 255);
}

.sh-c-keyword {
    color: rgb(235, 132, 255);
}

.sh-c-variable {
    color: rgb(255, 201, 100);
}

.sh-c-class {
    color: rgb(42, 185, 42);
}

.sh-c-operator {
    color: rgb(167, 167, 167);
}

.sh-c-string {
    color: rgb(241, 97, 72);
}

.sh-c-numerals {
    color: rgb(136, 255, 0);
}

.sh-c-Func {
    color: #fff200;
}

.sh-c-comments {
    color: grey;
    font-style: italic;
}

.sh-c-preprocess {
    color: rgb(170, 170, 170);
    background-color: rgb(85, 85, 85);
}

/*End of c syntax highlighting*/
/*start of java syntax highlighting*/
.sh-java-types {
    color: rgb(0, 140, 255);
}

.sh-java-keyword {
    color: rgb(235, 132, 255);
}

.sh-java-variable {
    color: rgb(255, 201, 100);
}

.sh-java-class {
    color: rgb(42, 185, 42);
}

.sh-java-operator {
    color: rgb(167, 167, 167);
}

.sh-java-string {
    color: rgb(241, 97, 72);
}

.sh-java-numerals {
    color: rgb(136, 255, 0);
}

.sh-java-Func {
    color: #fff200;
}

.sh-java-comments {
    color: grey;
    font-style: italic;
}

/*end of java highlighting*/
/*start of story script highlighting*/

.sh-ss-types {
    color: rgb(0, 140, 255);
}

.sh-ss-keyword {
    color: rgb(235, 132, 255);
}

.sh-ss-variable {
    color: rgb(255, 193, 77);
}

.sh-ss-class {
    color: rgb(42, 185, 42);
}

.sh-ss-operator {
    color: rgb(167, 167, 167);
}

.sh-ss-string {
    color: rgb(241, 97, 72);
}

.sh-ss-numerals {
    color: rgb(136, 255, 0);
}

.sh-ss-Func {
    color: #FBF46D;
}

.sh-ss-comments {
    color: grey;
    font-style: italic;
}
.sh-ss-inBuilt{
    color: rgb(107, 107, 255);
}
/*end of story script highlighting*/