/*Setting everything to 0*/
* {
    margin: 0px;
    padding: 0px;
}

/*CSPSH class the whole code block*/
.CSPSH {
    background-color: rgb(172, 172, 172);
    overflow: hidden;
    color: rgb(204, 204, 204);
    font-size: 24px;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 6px;
    padding: 1%;
    float: left;
    height: 90%;
    width: 90%;
    margin: 1%;
    text-justify: left;
    text-align: left;
}

/*Styling the topBar*/
#copyHolder {
    color: rgb(92, 92, 92);
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    margin: -1%;
    height: 50px;
    border-radius: 6px;
    width: inherit;
    align-items: right;
    background-color: rgb(172, 172, 172);
    text-align: center;
    text-justify: center;
    position: absolute;
}

.copyVector {
    z-index: 5;
    height: 50px;
    width: 50px;
    background-color: rgb(172, 172, 172);
    border: none;
    display: grid;
    float: right;
    border-radius: 6px;
}
#blackLine, #greyLine {
    transition: 0.4s;
}

#CSPSHsvg:hover>#blackLine {
    cursor: pointer;
    fill: rgb(49, 49, 49);
    stroke: rgb(49, 49, 49);
    transition: 0.4s;
}

#CSPSHsvg:hover>#greyLine {
    cursor: pointer;
    fill: rgb(141, 141, 141);
    stroke: rgb(141, 141, 141);
    transition: 0.4s;
}

::-webkit-scrollbar {
    background-color: rgba(168, 168, 168, 0.8);
    border-radius: 0px 6px 6px 0px;
    width: 8px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    width: 1px;
    border-radius: 6px 6px 6px 6px;
}

::-webkit-scrollbar-button {
    width: 3px;
    color: rgb(0, 0, 0);
}

.CSPSH:hover {
    overflow-y: scroll;
}

.CSPSH:hover>.copyVector {
    visibility: visible;
}

.cspsh-indentationGuidelines {
    border-left: 1px solid rgb(114, 114, 114);
}

/*End of the top bar css*/
/* css for types */
.sh-js-types, .sh-c-types, .sh-cpp-types, .sh-java-types, .sh-py-types, .sh-sts-types {
    color: rgb(0, 94, 170);
}

/* css for keywords */
.sh-js-keyword, .sh-c-keyword, .sh-cpp-keyword, .sh-py-keyword, .sh-java-keyword, .sh-sts-keyword {
    color: rgb(135, 0, 189);
}

/* css for variables */
.sh-js-variable, .sh-c-variable, .sh-cpp-variable, .sh-py-variable, .sh-java-variable, .sh-sts-variable {
    color: rgb(167, 108, 0);
}

/* css for class */
.sh-js-class, .sh-c-class, .sh-cpp-class, .sh-java-class, .sh-py-class, .sh-sts-class {
    color: rgb(0, 155, 0);
}

/* css for operators */
.sh-js-operator, .sh-c-operator, .sh-cpp-operator, .sh-java-operator, .sh-py-operator, .sh-sts-operator {
    color: rgb(99, 99, 99);
}

/* css for strings and characters */
.sh-js-string, .sh-c-string, .sh-cpp-string, .sh-java-string, .sh-py-string, .sh-sts-string {
    color: rgb(179, 27, 0);
}

/* css for numerals */
.sh-js-numerals, .sh-c-numerals, .sh-cpp-numerals, .sh-java-numerals, .sh-py-numerals, .sh-sts-numerals {
    color: rgb(192, 0, 134);
}

/* css for functions */
.sh-js-Func, .sh-c-Func, .sh-cpp-Func, .sh-java-Func, .sh-py-Func, .sh-sts-Func {
    color: #7f8d00;
}

/* css for comments */
.sh-js-comments, .sh-c-comments, .sh-cpp-comments, .sh-java-comments, .sh-py-comments, .sh-sts-comments {
    color: grey;
    font-style: italic;
}

/* css for inbuilt fucntions */
.sh-js-inBuilt, .sh-c-inBuilt, .sh-cpp-inBuilt, .sh-java-inBuilt, .sh-py-inBuilt, .sh-sts-inBuilt {
    color: rgb(0, 150, 187);
    font-style: italic;
}